<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ShouQiSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>shouqisystem.servlet.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin1</display-name>
    <servlet-name>UserLogin1</servlet-name>
    <servlet-class>shouqisystem.user.UserLogin1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin1</servlet-name>
    <url-pattern>/UserLogin1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadDriversEXL</display-name>
    <servlet-name>ReadDriversEXL</servlet-name>
    <servlet-class>shouqisystem.user.ReadDriversEXL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadDriversEXL</servlet-name>
    <url-pattern>/ReadDriversEXL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>shouqisystem.user.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadDriverEXL</display-name>
    <servlet-name>ReadDriverEXL</servlet-name>
    <servlet-class>shouqisystem.user.ReadDriverEXL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadDriverEXL</servlet-name>
    <url-pattern>/ReadDriverEXL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviseDelete</display-name>
    <servlet-name>ReviseDelete</servlet-name>
    <servlet-class>shouqisystem.user.ReviseDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviseDelete</servlet-name>
    <url-pattern>/ReviseDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServrlet</display-name>
    <servlet-name>SessionServrlet</servlet-name>
    <servlet-class>shouqisystem.user.SessionServrlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServrlet</servlet-name>
    <url-pattern>/SessionServrlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionDriverServlet</display-name>
    <servlet-name>SessionDriverServlet</servlet-name>
    <servlet-class>shouqisystem.user.SessionDriverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionDriverServlet</servlet-name>
    <url-pattern>/SessionDriverServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>trafficViolationServlet</display-name>
    <servlet-name>trafficViolationServlet</servlet-name>
    <servlet-class>shouqisystem.user.trafficViolationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>trafficViolationServlet</servlet-name>
    <url-pattern>/trafficViolationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>trafficAccidentServlet</display-name>
    <servlet-name>trafficAccidentServlet</servlet-name>
    <servlet-class>shouqisystem.user.trafficAccidentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>trafficAccidentServlet</servlet-name>
    <url-pattern>/trafficAccidentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrafficViolationServlet</display-name>
    <servlet-name>TrafficViolationServlet</servlet-name>
    <servlet-class>shouqisystem.user.TrafficViolationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrafficViolationServlet</servlet-name>
    <url-pattern>/TrafficViolationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrafficAccidentServlet</display-name>
    <servlet-name>TrafficAccidentServlet</servlet-name>
    <servlet-class>shouqisystem.user.TrafficAccidentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrafficAccidentServlet</servlet-name>
    <url-pattern>/TrafficAccidentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DynamicMonitorServlet</display-name>
    <servlet-name>DynamicMonitorServlet</servlet-name>
    <servlet-class>shouqisystem.user.DynamicMonitorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DynamicMonitorServlet</servlet-name>
    <url-pattern>/DynamicMonitorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ICcardDataServlet</display-name>
    <servlet-name>ICcardDataServlet</servlet-name>
    <servlet-class>shouqisystem.user.ICcardDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ICcardDataServlet</servlet-name>
    <url-pattern>/ICcardDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrainRecordServlet</display-name>
    <servlet-name>TrainRecordServlet</servlet-name>
    <servlet-class>shouqisystem.user.TrainRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrainRecordServlet</servlet-name>
    <url-pattern>/TrainRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceServlet</display-name>
    <servlet-name>ServiceServlet</servlet-name>
    <servlet-class>shouqisystem.user.ServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceServlet</servlet-name>
    <url-pattern>/ServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TechnologyServlet</display-name>
    <servlet-name>TechnologyServlet</servlet-name>
    <servlet-class>shouqisystem.user.TechnologyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TechnologyServlet</servlet-name>
    <url-pattern>/TechnologyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinanceServlet</display-name>
    <servlet-name>FinanceServlet</servlet-name>
    <servlet-class>shouqisystem.user.FinanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinanceServlet</servlet-name>
    <url-pattern>/FinanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LabourServlet</display-name>
    <servlet-name>LabourServlet</servlet-name>
    <servlet-class>shouqisystem.user.LabourServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LabourServlet</servlet-name>
    <url-pattern>/LabourServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemindServlet</display-name>
    <servlet-name>RemindServlet</servlet-name>
    <servlet-class>shouqisystem.user.RemindServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemindServlet</servlet-name>
    <url-pattern>/RemindServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CaptainTrafficViolationServlet</display-name>
    <servlet-name>CaptainTrafficViolationServlet</servlet-name>
    <servlet-class>shouqisystem.user.CaptainTrafficViolationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaptainTrafficViolationServlet</servlet-name>
    <url-pattern>/CaptainTrafficViolationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CaptainTrafficAccidentServlet</display-name>
    <servlet-name>CaptainTrafficAccidentServlet</servlet-name>
    <servlet-class>shouqisystem.user.CaptainTrafficAccidentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaptainTrafficAccidentServlet</servlet-name>
    <url-pattern>/CaptainTrafficAccidentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CaptainDynamicMonitorServlet</display-name>
    <servlet-name>CaptainDynamicMonitorServlet</servlet-name>
    <servlet-class>shouqisystem.user.CaptainDynamicMonitorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaptainDynamicMonitorServlet</servlet-name>
    <url-pattern>/CaptainDynamicMonitorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CaptainICcardDataServlet</display-name>
    <servlet-name>CaptainICcardDataServlet</servlet-name>
    <servlet-class>shouqisystem.user.CaptainICcardDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaptainICcardDataServlet</servlet-name>
    <url-pattern>/CaptainICcardDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CaptainTrainRecordServlet</display-name>
    <servlet-name>CaptainTrainRecordServlet</servlet-name>
    <servlet-class>shouqisystem.user.CaptainTrainRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaptainTrainRecordServlet</servlet-name>
    <url-pattern>/CaptainTrainRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CaptainServiceServlet</display-name>
    <servlet-name>CaptainServiceServlet</servlet-name>
    <servlet-class>shouqisystem.user.CaptainServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaptainServiceServlet</servlet-name>
    <url-pattern>/CaptainServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CaptainTechnologyServlet</display-name>
    <servlet-name>CaptainTechnologyServlet</servlet-name>
    <servlet-class>shouqisystem.user.CaptainTechnologyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaptainTechnologyServlet</servlet-name>
    <url-pattern>/CaptainTechnologyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CaptainFinanceServlet</display-name>
    <servlet-name>CaptainFinanceServlet</servlet-name>
    <servlet-class>shouqisystem.user.CaptainFinanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaptainFinanceServlet</servlet-name>
    <url-pattern>/CaptainFinanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CaptainLabourServlet</display-name>
    <servlet-name>CaptainLabourServlet</servlet-name>
    <servlet-class>shouqisystem.user.CaptainLabourServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaptainLabourServlet</servlet-name>
    <url-pattern>/CaptainLabourServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CaptainRemindServlet</display-name>
    <servlet-name>CaptainRemindServlet</servlet-name>
    <servlet-class>shouqisystem.user.CaptainRemindServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaptainRemindServlet</servlet-name>
    <url-pattern>/CaptainRemindServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerRemindServlet</display-name>
    <servlet-name>ManagerRemindServlet</servlet-name>
    <servlet-class>shouqisystem.user.ManagerRemindServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerRemindServlet</servlet-name>
    <url-pattern>/ManagerRemindServlet</url-pattern>
  </servlet-mapping>
</web-app>